body {
  font-family: microsoft yahei, Arial;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
li,
ul,
p,
dl,
dt,
dd {
  padding: 0;
  margin: 0
}

ul,
ol,
li,
dl,
dt,
dd {
  text-decoration: none;
  list-style: none
}

.lf {
  float: left
}

.rt {
  float: right
}

.clear {
  clear: both
}

.ovh {
  overflow: hidden
}

a {
  color: #303030;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

img {
  border: none
}

.pictureSlider {
  height: 518px;
  margin-bottom: 24px;
}

.poster-item {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
  text-align: center;
}

.turn_3d {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 36px;
  padding: 28px 0;
}

.xxgy {
  font-size: 30px;
  font-weight: 900;
  padding-left: 10px;
}

.poster-item .say {
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.students_star {
  padding: 10px 10px 0 10px;
}

.cell_list {
  margin-bottom: 20px;
  color: #999;
  font-size: 18px;
  overflow: hidden;
}

.darks {
  color: #000;
  padding-left: 10px;
}

.zwjs {
  border-top: 1px solid #d0cddb;
  line-height: 26px;
  padding-top: 5px;
  color: #999;
  font-size: 12px;
  max-height: 84px;
  overflow: hidden;
}

.for_btn {
  position: relative;
  height: 214px;
  overflow: hidden
}

.in_page {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}

.in_page>img {
  width: 40px;
  height: 40px;
}

.check_more {
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #bc241d;
  margin: 0 auto;
  display: block;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/*# sourceMappingURL=bootstrap.css.map */

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
}

.item {
  position: relative;
  border: 1px solid #E5E5E5;
  width: 100%;
  height: 234px;
}

.img_item {
  /*padding: 90px 29px 82px 48px;*/
  font-size: 1.6rem;
  /*border: 1px solid #E5E5E5;*/
  display: inline-block;
  margin-top: 60px;
}

.hover {
  font-size: 1.6rem;
  color: #fff;
  background: #0191FF;
  position: absolute;
  top: 0;
  display: none;
  white-space: nowrap;
  width: 100%;
  height: 234px;
  text-align: center;
}

.hover1 {
  font-size: 1.6rem;
  color: #fff;
  background: #0191FF;
  position: absolute;
  top: 0;
  white-space: nowrap;
  display: none;
  width: 100%;
  height: 234px;
  text-align: center;
}

.hover1>p:nth-child(1),
.hover>p:nth-child(1) {
  margin-top: 30%;
}

.item:hover .hover,
.item:hover .hover1 {
  display: block;
  cursor: pointer;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.title_label {
  font-size: 1.6rem;
  font-weight: bold;
  width: 180px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  background: #FFCA12;
  display: inline-block;
  margin-top: 10px;
}

.left {
  padding-bottom: 12%;
}

.left_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_title>img {
  width: 20%;
  margin-right: 10px;
}

.left_title>div {
  font-size: 3.6rem;
  color: #FFCA12;
  font-weight: bold;
  padding-top: 20px;
}

.left_bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}

.left_bottom a:nth-child(1) {
  width: 46%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #FFCA12;
  border-radius: 2px;
  font-size: 1.6rem;
  color: #0F0F0F;
  margin-right: 12px;
  cursor: pointer;
  margin-top: 16%;
  font-weight: bold;
}

.left_bottom a:nth-child(2) {
  width: 46%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #FFF;
  border-radius: 2px;
  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 16%;
  font-weight: bold;
}

.right {
  background: #FFFFFF;
  padding-left: 6%;
  padding-right: 6%;
}

.right>img {
  max-width: 180px;
  position: absolute;
  top: -10%;
  right: -4%;
}

.right>header {
  color: #070707;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}

.right>p {
  font-size: 1.8rem;
  color: #070707;
  text-align: left;
  padding-left: 10px;
}

.peculiarity {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  -webkit-flex-wrap: wrap;
}

.peculiarity>.item_item {
  margin-top: 2%;
  width: 25%;
  text-align: center;
}

.peculiarity>.item_item>img {
  max-width: 60px;
  margin-bottom: 6px;
}

.not_only_content>div>img:hover {
  animation: myfirst 2s;
  -moz-animation: myfirst 2s;
  /* Firefox */
  -webkit-animation: myfirst 2s;
  /* Safari �� Chrome */
  -o-animation: myfirst 2s;
  cursor: pointer;
}

@keyframes myfirst {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@-moz-keyframes myfirst
/* Firefox */

  {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes myfirst
/* Safari �� Chrome */

  {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@-o-keyframes myfirst
/* Opera */

  {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.peculiarity>.item_item>p {
  font-size: 1.4rem;
}

.more {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  padding-bottom: 60px;
}

.more_item {
  width: 12%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  background: #FFFFFF;
  margin-right: 4px;
  margin-top: 32px;
  cursor: pointer;
}

.selected {
  background: #0191FF;
  color: #FFFFFF;
  border: 1px solid #0191FF;
  cursor: pointer;
}

.more_item:hover {
  background: #0191FF;
  color: #FFFFFF;
  border: 1px solid #0191FF;
}

.more_items {
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  background: #FFFFFF;
  margin-right: 4%;
  width: 20%;
  margin-top: 2%;
  color: #000;
}

.more_items:nth-of-type(4n) {
  margin-right: 0;
}

.more_items:hover {
  background: #0191FF;
  color: #FFFFFF;
  border: 1px solid #0191FF;
}

.selected {
  background: #0191FF;
  color: #FFFFFF;
  border: 1px solid #0191FF;
  cursor: pointer;
}

.header1 {
  margin-top: 10%
}

.tool {
  padding-top: 60px;
}

.tool>div>header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.tool_content {
  max-width: 1220px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tool_item {
  text-align: center;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 12px;
}

.tool_more {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.tool_more>a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #0191FF;
  border-radius: 2px;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #0191FF;
}

.lunboimg {
  width: 200px;
}

.not_only {
  background: #0098FE;
  padding: 60px 0;
}

.not_only_content {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
}

.not_only_content div {
  margin-right: 13.3%;
  margin-top: 56px;
}

#box {
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
  display: none;
}

.box_item {
  text-align: center;
  border: 1px solid #E5E5E5;
  margin: auto;
  width: 15rem;
  height: 12rem;
  padding-top: 20px;
  position: relative;
  margin-top: 30px;
}

.box_item_img {
  width: 50px;
  height: 50px;
  background: url("../imgs/01.png") no-repeat center center;
  background-size: cover;
  display: inline-block;
}

.hover0 {
  display: none;
}

.box_item:hover .hover0 {
  position: absolute;
  top: 0;
  width: 15rem;
  height: 12.2rem;
  background: #0191FF;
  color: #FFFFFF;
  padding-top: 3rem;
  display: block;
}

.btn {
  padding-left: 6px;
  display: none;
}

.btn a {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 2px;
  margin-top: 20px;
  font-size: 1.6rem;
}

.price {
  display: none;
}

.btn a:nth-child(1) {
  background: #FFCA12;
  color: #0F0F0F;
  margin-right: 10px;
}

.btn a:nth-child(2) {
  background: #0097ff;
  color: #FFFFFF;
  /*border: 1px solid #626262;*/
}

.er_item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.zturn-item:hover>div,
#box_pics li:hover div {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 30px;
}

.money_bottom {
  background: #0191FF;
  position: relative;
  width: 100%;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.money_bottom a {
  width: 150px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 2rem;
}

.money_bottom a:nth-child(1) {
  background: #FFCA12;
  color: #0F0F0F;
  margin-right: 14px;
}

.money_bottom a:nth-child(2) {
  background: #fff;
  color: #000;
}

.money_bottom img {
  position: absolute;
  right: 17%;
  bottom: 16%;
}

#box_pics {
  display: flex;
  justify-content: flex-start;
}

#box_pics li {
  width: 300px;
}

#box_pics li img {
  width: 100%;
}
